#accomodation
{
    
    display:flex;
    background-color: rgb(228, 224, 224) ;
    width:1000px ;
    height:1000px;
    margin:3rem;
    display:grid;
    grid-template-rows:repeat(2,150px);
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:20px;
    justify-content:start; 
    align-content:space-around;
    grid-row-gap:30px;
    grid-column-gap:30px;
    grid-gap:30px;
    background-color: #dfdddb;
    border-radius: 15px;
    padding: 10px;
    color: black;
    float:right;
    white-space: nowrap;
}
#best-sales
{
    flex-flow:row wrap;
}


@media all and(max-width:64rem)
{
    article
    {
      width:auto;
      text-align: left;
    } 
    article figure 
    {
       grid-column:1;
    }
    article>figure>figcaption
    {
        padding-left:.25rem;
    }

}

/*creation de la box best-sales */
#best-sales
{
    display:flex;
    position:relative;
    flex-flow:column wrap;
    justify-content:space-between;
    align-items: baseline; 
    width:auto;
    height:20rem;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: rgba(255, 255, 255,0.8);
    color:black;
    margin: 13.5rem;
    border-radius: 15px;
    padding: 5px;
}
/*insertion à droite de l'icone au niveau du titre*/
#best-sales h3,i
{
    padding-right:4.3rem;
}
/* alignement texte image*/
#best-sales>article> figure
{
    margin-left:0px;
}

/*positionnement du texte par rapport à l'image*/ 
#best-sales article
{
    text-align: justify;
    white-space: wrap;
}
/* placement et présentation image dans l aside*/
#best-sales img 
{
    float:left;
    width:70px;
    height:90px;
    border-radius:15px 0px 0px 15px;
}
@media all and (max-width:64rem)
{
   #best-sales 
   {
       text-align:left;
       width:auto;
   } 
   #best-sales figure 
   {
    grid-column:1;
   }
   #best-sales figcaption
   {
       padding-right:.25rem;
   }
}
aside
{
    display:flex;
    flex-direction: row ;
    position: relative;
    background-color: #dfdddb;  
    border-radius: 10px;
    margin:30rem;
    padding: 10px 5px 10px;
    color: black;
    font-size: 0.9em;
   


}
aside article
{
    justify-content: space-around;
    align-items: center;
}
aside #port
{
    justify-self:flex-start;
    align-self:flex-start;
    height: 40rem;
    
}
aside #pomegues #frioul
{
    flex-flow: row wrap;
    margin-left:10rem;
}
aside #calanques
{
    margin-left:5rem;
    height:40rem;
}
aside #notredame #longchamp
{
    flex-flow: row wrap;
    margin-right:0rem;

}
@media all and (max-width:64rem)
{
    aside
    {
        width:auto;
        text-align:center;
        grid-column: 1;
        padding-left: .25rem;
    }
    
}
/*box et presentation du footer*/
footer
{
    display :flex;
    position: relative;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:left;
    font-size: .8rem;
    text-decoration-color: black;
    background-color: #dfdddb;
    border-radius: 15px;
    padding: 10px;
    margin:1rem;
    
}
/* suppression des puces des menus*/
footer ul
{
    list-style-type: none;
    font-size: .5rem;
}
#about
{
    background-color: rgb(185, 250, 6);
    
}
#stay
{
    background-color:rgb(253, 253, 7);
    
}
#help
{
    background-color: rgb(255, 208, 0);
    
}
#about #stay #help
{
    display:flex;
    flex-flow:row wrap;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#about h5 #stay h5 #help h5
{
    color:black;
    margin-left:2rem ;
}
#about ul
{
    margin-top:2rem;
    margin-left:-6rem;
    

}

#stay ul
{
    margin-top:2rem;
    margin-left:-3rem; 
   
}

#help ul
{
    margin-top:2rem;
    margin-left:-3.2rem; 
    
}
@media all and (max-width:64rem)
{
    footer
    {
        width:auto;
        text-align:left;
    }
    #about #stay #help
    {
        flex-direction: column;
    }

}