html
{
    font-family:"Raleway",sans-serif ;
    background-color: #f2f2f2;
}
.header 
{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;

}    
 .logo
 {
     display:flex;
     flex-direction:row;
     align-items:baseline;
 }  
 
nav ul
{    

    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content:flex-end; 
    align-items:baseline;

}   
 nav li
{  
    margin-right:15px;  
    margin-top:0px;
     
}
#note
{
    display: flex;
    padding-top:300px;
    font-size:1rem;
}
#dest
{
    width:50px;
    height:2px;
    padding-top:100px;
}
.filters p
{
    display:flex;
    position:relative;
    flex-direction:row;
    justify-content:space-around;
    align-items: baseline;
    flex-wrap:nowrap;
}
/*.filter i
{
    position: absolute;  
    top:2px;
    font-size: 21px;
    width: 10px;
    background-color:#DEEBFF;
  
        
    border-radius:15px 15px 15px 15px ;

    text-align:justify;
    
}*/
.filters:hover
{
    font-weight: bold;
}
.filters i 
{
    
    color:#0065FC;
    background-color: #DEEBFF;
    
    padding:5px 0px 0px 0px;
    border-radius: 15px;
    
}
.hbgt
{
    
    width:1000px ;
    height:1000px;
    margin:30px auto;
    display:grid;
    grid-template-rows:repeat(2,150px);
    grid-template-columns:max-content 1fr 1fr;
    grid-gap:20px;
    justify-content:start; 
    align-content:space-evenly;


}    
.hbgt  div
{
    display:grid;
    grid-area:1/1/3/4;
    grid-gap:30px;
    justify-self:space-around;
    align-self:space-evenly;
   
}
span
{
font-size: .8rem;
}
.act
{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:center;
}
footer
{
    font-size: small;
    
}
footer ul
{
    list-style-type: none;
}
