:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
}
#navbar {
    grid-area: navbar;
}
.signup {
    grid-area: signup;
}
#search {
    grid-area: search;
}
#accomodation {
    grid-area: accomodation;
}
#best-sales {
    grid-area: best-sales;
}
#visit {
    grid-area: visit;
}
#footer {
    grid-area: footer;
}
body {
    /* definition de la grille avec designation de l'area*/
    margin: 0;
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "search search"
        "accomodation best-sales"
        "visit visit"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}
figure {
    box-shadow: 0 5px 10px silver;
}
h1, h2, h3, h4, h5, h6 /*definition commune aux différents titres*/ {
    font-size: 12px;
    font-weight: 400;
}
.nav_logo {
    grid-area: nav_logo;
}
.nav_item_2 {
    grid-area: nav_item_2;
}
.nav_item_3 {
    grid-area: nav_item_3;
}
.nav_item_4 {
    grid-area: nav_item_4;
}
#navbar nav {
    display: grid;
    grid-template-areas: "nav_logo nav_item_2 nav_item_3 nav_item_4";
    grid-gap: 2rem;
    grid-template-rows: 70px;
    grid-template-columns: 10fr repeat(3, 1fr);
    /*padding: 0 1rem;*/
}
nav img {
    height: 100%;
}

/*positionnement box du menu suppression des puces*/
nav a {
    line-height: 70px;
}
/*positionnement du menu dans la box */
.nav_item_2,
.nav_item_3,
.nav_item_4 {
    text-align: center;
    font-size: 12px;
}
#stay {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}
#inscription {
    color: #0065fc;
    font-weight: 100;
}
#activities,
#inscription {
    padding-top: 0.3rem;
}
.search_card1 {
    grid-area: card1;
    padding: 1rem;
}
.search_card2 {
    grid-area: card2;
}

#search {
    display: grid;
    grid-template-areas:
        "card1 "
        "card2 ";
    grid-gap: 1rem;
    grid-template-rows: 75px;
    grid-template-columns: 1fr;
    padding: 1rem;
}
#search h1 {
    font-weight: bold;
    font-size: 1.2rem;
}
/*mise en page des paragraphes*/
#search p {
    font-size: 1rem;
}
/*placement de la boite de dialogue pour la destination*/
#spot {
    display: flex;
}

/*background pour le bouton rechercher */
#spot > button {
    padding: 0;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #0065fc;
    border-radius: 0 1rem 1rem 0;
    color: white;
    border: none;
}
#spot > button i {
    display: none;
}
/*mise en gras du texte de l input */
#spot > input[type="text"] {
    padding: 0 0 0 1rem;
    width: 16rem;
    height: 3rem;
    line-height: 3rem;

    font-weight: bold;
    color: black;
    border: none;
}
/*mise en page et placement de l icone dans place*/
#spot .icone {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: rgb(228, 224, 224);
    border-radius: 1rem 0 0 1rem;
}
#filters/* mise en page cadre*/ {
    padding: 0;
}

/* mise en page element du filters*/
#filters > h1 {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
#filters button {
    padding: 0;
    height: 3rem;
    line-height: 3rem;
    border: 0.1rem solid rgb(233, 227, 227);
    border-radius: 2rem;
    background-color: #fff;
    font-weight: bold;
}
#filters button span {
    padding: 0 1rem;
}

#filters >button i /*mise en place des icones dans les boutons*/ {
    width: 3rem;
    margin: -0.1rem;
    padding: 0;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    color: #0065fc;
    background-color: #b8d8f3;
}
#filters button:hover {
    border: rgb(3, 3, 161);
    background-color: rgb(178, 214, 231);
}
#filters button:focus {
    border: 5px 2px green;
}
#filters button:visited {
    border: rgb(134, 7, 7);
}

/*mise en couleur de l'icone de paragraphe */

#search p i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #0065fc;
}

/* definition grid de la carte accomodation*/
.accomodation_header {
    grid-area: accomodation_header;
}
.accomodation_card_one {
    grid-area: accomodation_card_one;
}
.accomodation_card_two {
    grid-area: accomodation_card_two;
}
.accomodation_card_three {
    grid-area: accomodation_card_three;
}
.accomodation_card_four {
    grid-area: accomodation_card_four;
}
.accomodation_card_five {
    grid-area: accomodation_card_five;
}
.accomodation_card_six {
    grid-area: accomodation_card_six;
}
.accomodation_footer {
    grid-area: accomodation_footer;
}
#accomodation /* cadre accomodation*/ {
    display: grid;
    grid-template-areas:
        "accomodation_header accomodation_header accomodation_header"
        "accomodation_card_one accomodation_card_two accomodation_card_three"
        "accomodation_card_four accomodation_card_five accomodation_card_six"
        "accomodation_footer accomodation_footer accomodation_footer";
    grid-gap: 2rem;
    grid-template-rows: 25px repeat(2, 265px) 50px;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    border-radius: 1.5rem;

    background-color: rgb(248, 248, 248);
}
#accomodation a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}
#accomodation h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
#accomodation figure /* cadre de carte*/ {
    margin: 0;
    width: auto;
    height: 100%;
    border: 0.5rem solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px silver;
    background-color: #fff;
    color: black;
}
#accomodation img {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 95px);
    line-height: 95px;

    border-radius: 1rem 1rem 0rem 0rem;
}
/*legend */
#accomodation figcaption {
    height: 95px;
    padding: 1rem;
    text-decoration: none;
}
#accomodation figcaption h2 {
    margin: 0rem;
    font-size: 1.6rem;
    font-weight: bold;
}
#accomodation figcaption p {
    margin: 0rem;
    padding-top: 0.5rem;
    font-size: 1.4rem;
}
.blue {
    display: inline-block;
    color: #0065fc;
}
.grey {
    display: inline-block;
    color: silver;
}
#accomodation figcaption i {
    padding-top: 1rem;
}
#accomodation footer {
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
}
/* definition grid du best sales */
.best-sales_header {
    grid-area: best-sales_header;
}
.best-sales_card1 {
    grid-area: best-sales_card1;
}
.best-sales_card2 {
    grid-area: best-sales_card2;
}
.best-sales_card3 {
    grid-area: best-sales_card3;
}
#best-sales/*cadre les plus populaires */ {
    display: grid;
    grid-template-areas:
        "best-sales_header "
        "best-sales_card1"
        "best-sales_card2"
        "best-sales_card3";

    grid-gap: 2rem;
    grid-template-rows: 30px repeat(3, 150px);
    grid-template-columns: 1fr;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: rgb(246, 246, 246);
}
.best-sales_image {
    grid-area: best-sales_image;
}
.best-sales_figcaption {
    grid-area: best-sales_figcaption;
}
#best-sales figure /* cadre de carte*/ {
    display: flex; /* pour placer cote a cote img et figcaption*/
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0.5rem solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px silver;
    background-color: #fff;
    color: black;
}
#best-sales a {
    text-decoration: none;
}
#best-sales header {
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between; /* pour separer le titre de l'icone*/
    font-weight: bold;
}
#best-sales h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
/* placement icône titre */
#best-sales header i {
    display: inline-block; /*pour placer le block et le marger seul*/
}
#best-sales img {
    object-fit: cover;
    padding-right: 5px;
    width: 35%;
    height: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
}

/*legend */
#best-sales figcaption {
    padding: 1rem;
    width: 60%;
    height: 100%;

    font-size: 1rem;
    position: relative;
}

#best-sales figcaption h2 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.5rem;

    font-weight: bold;
    word-wrap: break-word;
}
#best-sales figcaption p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
}
#best-sales figcaption div {
    position: absolute;
    bottom: 1rem;
}

.visit_title {
    grid-area: visit_title;
    font-weight: bold;
}
.visit_cardone {
    grid-area: visit_cardone;
}
.visit_cardtwo {
    grid-area: visit_cardtwo;
}
.visit_cardthree {
    grid-area: visit_cardthree;
}
.visit_cardfour {
    grid-area: visit_cardfour;
}
.visit_cardfive {
    grid-area: visit_cardfive;
}
.visit_cardsix {
    grid-area: visit_cardsix;
}
#visit {
    display: grid;
    grid-template-areas:
        "visit_title visit_title visit_title visit_title"
        "visit_cardone visit_cardtwo visit_cardthree visit_cardfour"
        "visit_cardone visit_cardfive visit_cardthree visit_cardsix";
    grid-gap: 2rem;
    padding: 2rem;
    grid-template-rows: 5rem 30rem 30rem;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 1.5rem;
    background-color: rgb(228, 224, 224);
}
#visit h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}
#visit figure /* cadre de carte*/ {
    margin: 0;
    width: 100%;
    height: 100%;

    border-radius: 1rem;
    box-shadow: 0px 5px 10px silver;
    background-color: #fff;
    color: black;
}

#visit a {
    display: block;
    height: 100%;
    text-decoration: none;
}
#visit img {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 50px);
    line-height: 30px;
    border-radius: 1rem 1rem 0rem 0rem;
}
#visit a[href="#port"] figure,
#visit a[href="#calanques"] figure {
    display: block;
    height: 100%;
}
/*legend */
#visit > figcaption {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
}
#visit figcaption h2 {
    margin: 0;

    font-size: 1.5rem;
    font-weight: bold;
}
#visit a[href="#port"] img,
#visit a[href="#calanques"] img {
    display: inline-block;
    height: calc(100% - 50px);
}

.footer_about {
    grid-area: footer_about;
}
.footer_stay {
    grid-area: footer_stay;
}
.footer_help {
    grid-area: footer_help;
}
#footer {
    display: grid;
    grid-template-areas: "footer_about footer_stay footer_help";
    grid-gap: 2rem;
    grid-template-rows: 75px;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    background-color: rgb(246 246 246);
}

#footer h1 {
    font-size: 1.2rem;
    font-weight: bold;
}
footer ul {
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}
#footer a {
    text-decoration: none;
    color: black;
}
