html
{
    font-family:"Raleway",sans-serif ;
    background-color: #f2f2f2;
}
.header 
{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;

}    
 .logo
 {
     display:flex;
     flex-direction:row;
     align-items:baseline;
 }  
 
nav ul
{    

    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content:flex-end; 
    align-items:baseline;

}   
 nav li
{  
    margin-right:15px;  
    margin-top:0px;
     
}
#note
{
    display: flex;
    padding-top:300px;
    font-size:1rem;
}
#dest
{
    width:50px;
    height:2px;
    padding-top:100px;
}
button
{
    color:#0065FC;
}

.filters p
{
    display:flex;
    position:relative;
    flex-direction:row;
    justify-content:space-around;
    align-items: baseline;
    flex-wrap:nowrap;
}

.filters:hover
{
    font-weight: bold;
}
.filters i 
{
    color:#0065FC;
    background-color: #DEEBFF;
    padding:5px 0px 0px 0px;
    border-radius: 15px;  
}
.accomodation
{
    
    /*display:flex;
    position:relative;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;*/
    width:1000px ;
    height:1000px;
    margin:3rem;
    display:grid;
    grid-template-rows:repeat(2,150px);
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:20px;
    justify-content:start; 
    align-content:space-around;
    grid-row-gap:30px;
    grid-column-gap:30px;
    grid-gap:30px;
    background-color: #dfdddb;
    border-radius: 5px;
    padding: 10px;
    color: black;
}    
span
{
font-size: .8rem;
}
i
{
    color:#0065FC;
}
aside
{
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:space-between;
    align-items: baseline;
    flex-wrap:wrap;
    background-color: #dfdddb;
    margin: 15rem;
    border-radius: 5px;
    padding: 10px;
    color: black;
   
}

.aside figure
{
    margin-right:15px;
}
.visit
{
    display:flex;
    flex-direction: row ;
    
    
    position: relative;
    background-color: #dfdddb;
    
    border-radius: 5px;
    margin:5rem;
    padding: 10px;
    color: black;
    font-size: 0.9em;

}
footer
{
    display :flex;
    position: relative;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    font-size: small;
       
    background-color: #dfdddb;
    
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin:5rem;
}
footer ul
{
    list-style-type: none;
}
