:root {
    font-size: 8px;
}

body {
    grid-template-areas:
        "navbar"
        "search"
        "best-sales"
        "accomodation"
        "visit"
        "footer";
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#navbar {
    width: auto;
    text-align: left;
}
#navbar nav /*placement des card l'1 par rapport à l'autre*/ {
    display: grid;
    grid-template-areas:
        "nav_logo nav_item_4"
        "nav_item_2 nav_item_3";
    grid-template-rows: repeat(2, 70px);
    grid-template-columns: repeat(2, 150px);
    padding: 1rem;
    background-color: rgb(228, 224, 224);
}
#navbar a {
    margin: -0.5rem;
}
#stay {
    border-top: none;
    border-bottom: 3px solid rgb(21, 115, 255);
    padding: 1rem;
}
#activities {
    display: inline-block;
    padding: 1rem 0 0 4rem;
}
#inscription {
    padding: 1rem 0 0 4rem;
}
#search header {
    margin-left: 1rem;
}
/* Changer le bouton Rechercher par l icone loupe  dans spot*/
#spot > button {
    display: block; /* maintien du bouton*/
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    color: white;
}
#spot > button i {
    display: block;
    text-align: center;
    line-height: 3rem;
    border-radius: 0 1rem 1rem 0;
}
/*masquage du span*/
#spot > button span {
    display: none;
}
.filter_eco {
    grid-area: filter_eco;
}
.filter_fam {
    grid-area: filter_fam;
}
.filter_love {
    grid-area: filter_love;
}
.filter_pet {
    grid-area: filter_pet;
}
#filter {
    display: grid;
    grid-template-areas:
        "filter_eco filter_fam"
        "filter_love"
        "filter_pet";
    grid-gap: 0rem;
    grid-template-rows: repeat(3, 70px);
    grid-template-columns: 1fr 1fr;
}
#filter > h4 {
    display: flex;
}
#filter .filter_eco {
    padding: 0;
}

#filter .filter_pet {
    display: block;
    justify-content: start;
    padding: 0;
}

#best-sales figure {
    width: 100%;
    height: 100%;
}
#best-sales img {
    width: 40%;
    height: 100%;
}
#best-sales figcaption {
    padding: 1rem;
}

#accomodation {
    display: grid; /*pour placer les cartes en colonne*/
    grid-template-areas:
        "accomodation_header accomodation_header"
        "accomodation_card_one accomodation_card_one"
        "accomodation_card_two accomodation_card_two"
        "accomodation_card_three accomodation_card_three"
        "accomodation_card_four accomodation_card_four"
        "accomodation_card_five accomodation_card_five"
        "accomodation_card_six accomodation_card_six"
        "accomodation_footer accommodation_footer";

    grid-gap: 2rem;
    grid-template-rows: 25px repeat(6, 270px) 40px;
    grid-template-columns: repeat(2, 1fr);

    justify-content: start;
    padding: 2rem;
}
#accomodation figure {
    height: 100%;
}
#accomodation img {
    height: 70%;
}
#accomodation figcaption {
    width: 100%;
    word-wrap: break-word;
    height: 25%;
}
#visit {
    display: grid;
    grid-template-areas:
        "visit_header visit_header"
        "visit_cardone visit_cardone"
        "visit_cardtwo visit_cardtwo"
        "visit_cardthree visit_cardthree"
        "visit_cardfour visit_cardfour"
        "visit_cardfive visit_cardfive"
        "visit_cardsix visit_cardsix";

    grid-gap: 2rem;
    grid-template-rows: 30px repeat(6, 180px);
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    width: 100%;
}
#visit a[href="#port"]figure,
#visit a[href="#calanques"]figure {
    display: block;
    height: 0%;
}
#visit figure {
    padding: 1rem;
    height: 100%;
}
#visit a[href="#port"]img,
#visit a[href="#calanques"]img {
    display: block;
}
#visit img {
    display: block;
    height: 70%;
}
#footer {
    display: grid;
    grid-template-areas:
        "footer_about"
        "footer_stay"
        "footer_help";
    grid-gap: 1.5rem;
    grid-template-rows: repeat(3, 70px);
    grid-template-columns: 1fr;
    word-wrap: normal;
}
